<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moja Institucija | Lista na kategorii</title>
    <link rel="stylesheet" href="/showcategories.css">
</head>
<body>

<div class="box">
    <a href="/institucii"> <h4><span>Моја</span>Институција</h4></a>
</div>

<div class="categories">
    <ul>
        <li  class="category" th:each="cat : ${kategorii}" >
            <a href="/institucii/service"><th:block th:text="${cat.getName()}" ></th:block></a>
            <div class="sub-menu-1">
                <ul>
                    <li th:each="usl : ${cat.getUslugaList()}" th:name="${cat.getName()}" class="sub1">
                        <a href="/institucii/locations"><th:block th:text="${usl.getName()}" ></th:block></a>
                            <div class="sub-menu-2">
                                <ul>
                                    <li th:each="loc : ${usl.getLocations()}">
                                    <form th:method="POST" th:action="@{'/institucii/lokacija/{name}'(name=${loc.getName()})}">
                                       <button><th:block th:text="${loc.getName()}"></th:block></button>


                                    </form>

                                    </li>
                                </ul>
                            </div>
                        </th:block>
                    </li>
                </ul>
            </div>
        </th:block>
        </li>
    </ul>
</div>


</body>
</html>
