<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/map.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <title>MojaInstitucija | Map</title>
</head>


<body>
<a class="map" href="/"><i class="fa fa-backward"></i> Назад</a>

<h4><span id="naslov">Моја</span>Институција</h4>
<h1><i class="fa fa-map-marker"></i> Мапа</h1>

<iframe id="viewDiv" class="myDiv" style="width: 750px; height: 400px; position: absolute;left: 0px;top:130px;border: 8px solid #ff8b3d;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 10px 10px 8px #ff8b3d;" src="https://www.easymapmaker.com/map/01b0782ec617be9b5c5ecbebe2b5af74?fbclid=IwAR2yGhhjBHIo7z-m4rOIXVBzUce4SlnhpRoGm5FX1EBwOli1Pzt-7IHn_e8"></iframe>
</body></html>