<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/showcategories.css">
    <title>Moja Institucija | Lista na kategorii</title>
    <link rel="stylesheet" href="/showcategories.css">
</head>
<body>

<div class="box">
    <h4><span id="naslov">Моја</span>Институција</h4>
</div>

<div class="categories">
    <ul>
        <li  class="category" th:each="locations: ${uslugi}" >
            <div class="sub-menu-1">
            </div>
            </th:block>
        </li>
    </ul>
</div>


</body>
</html>