<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title> MojaInstitucija | Home</title>
</head>
<body>
<div class="box">
    <h4><span>Моја</span>Институција</h4>
</div>

<div class="content">
    <img src="/pic1.png" height="540" width="610" class="image" >

    <h5>Добредојдовте!</h5>
    <h6>Изберете начин на пребарување:</h6>

    <div class="buttons">
        <a href="/institucii/mapa" class="map"><i class="fa fa-map-marker"></i> Мапа</a>

            <a href="/institucii/categories" type="submit" class="list-cat"> Листа на категории</a>

    </div>
</div>
</body>
</html>